{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tituluj.Aves{% endtrans %}{% endblock %}

{% block body %}
  <div class="jumbotron">

    <h2>{% trans %}pridaj.pozorovanie{% endtrans %} </h2>
    {% if app.user %}
      <ul>
          <li><a class="badge badge-primary" href="{{ path('newzoology') }}">{% trans %}z.mobilu{% endtrans %}</a></li>
          <li><a class="badge badge-primary" href="{{ path('impsubory_index') }}">{% trans %}z.excelu{% endtrans %}</a></li>

      </ul>

    <h2>{% trans %}nadpis.prehlad.pozorani{% endtrans %} </h2>
      <ul>
          <li><a class="badge badge-primary" href="{{ path('zoology_index') }}">{% trans %}link.na.zoznam.pozorovani{% endtrans %}</a></li>
      </ul>
      <p><small>{% trans %}je.prihlaseny{% endtrans %}:  {{ app.user.username }} ({{ app.user.firstname }} ), <a href="{{ path('app_logout') }}" class="badge badge-primary">{% trans %}odhlasit{% endtrans %}</a> </small></p>



    {% else %}

      <p>{% trans %}o.com.je.stranka{% endtrans %}</p>
      <br />
      <strong> <a href="{{ path('app_login', {_locale: 'sk'})}}" class="btn btn-primary"  >{% trans %}vyzva.k.prihlaseniu{% endtrans %}</a></strong> 
      <br /><br />  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      (.. or <a href="{{ path('app_login', {_locale: 'en'}) }}">Sign in for english!</a> ) 

    {% endif %}
  </div>

{% endblock %}
