{% extends 'base.html.twig' %}

{% block title %}{% trans %}Add observation's{% endtrans %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{% trans %}Add observation's{% endtrans %} </h1>


{% if app.user %}

<p>{% trans %}You are logged in as{% endtrans %}:  {{ app.user.username }} ({{ app.user.firstname }}), <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a> </p>

    {% trans %}Add observation's to AVES database!{% endtrans %} :

    <ul>
        <li>Your controller at <code><a href="{{ 'C:/UwAmp/www/pridaj/src/Controller/PrehladController.php'|file_link(0) }}">src/Controller/PrehladController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/UwAmp/www/pridaj/templates/prehlad/index.html.twig'|file_link(0) }}">templates/prehlad/index.html.twig</a></code></li>
    </ul>

{% else %}

{% trans %}Hello, here you can add observation's to AVES database!{% endtrans %}:

 <a href="{{ path('app_login', {_locale: 'sk'}) }}">{% trans %}Log in!{% endtrans %}</a> 
&nbsp;&nbsp; ..or <a href="{{ path('app_login', {_locale: 'en'}) }}">Log in! (english)</a> 

{% endif %}
</div>


{% endblock %}
