{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tituluj.Aves{% endtrans %}{% endblock %}

{% block body %}
  <div class="jumbotron">

    <h2>{% trans %}pridaj.pozorovanie{% endtrans %} </h2>
    {% if app.user %}
      <ul>
          <li><a class="badge badge-primary" href="{{ path('newzoology') }}">{% trans %}z.mobilu{% endtrans %}</a></li>
          <li><a class="badge badge-primary" href="{{ path('impsubory_index') }}">{% trans %}z.excelu{% endtrans %}</a></li>

      </ul>

    <h2>{% trans %}nadpis.prehlad.pozorani{% endtrans %} </h2>
      <ul>
          <li><a class="badge badge-primary" href="{{ path('zoology_index') }}">{% trans %}link.na.zoznam.pozorovani{% endtrans %}</a></li>
      </ul>
      <p><small>{% trans %}je.prihlaseny{% endtrans %}:  {{ app.user.username }} ({{ app.user.firstname }} ), <a href="{{ path('app_logout') }}" class="badge badge-primary">{% trans %}odhlasit{% endtrans %}</a> </small></p>



    {% else %}

      <p>{% trans %}o.com.je.stranka{% endtrans %}</p>
      <br />
      <strong> <a href="{{ path('app_login', {_locale: 'sk'})}}" class="btn btn-primary"  >{% trans %}vyzva.k.prihlaseniu{% endtrans %}</a></strong> 
      <br /><br />  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      (.. or <a href="{{ path('app_login', {_locale: 'en'}) }}">Sign in for english!</a> ) 

    {% endif %}
  </div>
  <div class="jumbotron">
    <h3>{% trans %}o.symfonii{% endtrans %}</h3>
    <p>Aves-Symfónia 5 je súčasťou databázového systému AVES Symfónia Slovenskej ornitologickej spoločnosti SOS/BL. Hlavná databáza sídli na  <a href="https://aves.vtaky.sk">aves.vtaky.sk</a>. Tam sa nachádzajú hlavné dáta a program vyvíjaný už 11 rokov.</p>
<p>Táto stránka má cieľ poskytovať:</p>
    <ul>
      <li>&#9989; <a  href="{{ path('newzoology') }}">Možnosť zápisu pozorovaní</a> aj cez web malých zariadení (mobil, tablet, malý notebook) a <a  href="{{ path('zoology_index') }}"> prezerania zapísaných dát</a>. Zariadenia pripojené na internet.</li>
      <li>&#9989;Import dát zapísaných v:</li>
        <ul>
          <li>&#9989; eBird - <a href="http://www.eBird.com">www.eBird.com</a> 
            <li>&#9989; mobilnej aplikácii vtaky.sk (aplikácia je v testovacej fáze)</li> 
          <li>&#9989; <a href="{{ path('impsubory_index') }}">Excel</a> (vzorový excel súbor s pomôckami <a href="{{path('download_file')}}">na stiahnutie</a>)</li>
          <li>&#9874; CSV (štrukturovaný text)</li>
          <li>&#9989; AVES Symfónia API (API - univerzálny komunikačný nástroj pre posielanie dát, podľa API vytvoriť vlastnými nástrojmi podľa vlastných predstáv)</li>
        </ul>
        <li>&#9989;  <a href="http://api.nasesk.info/api">AVES Symfónia API</a> pre zber dát (univerzálne prostredie, využitie tretími stranami, napríklad aktuálne vyvíjanou mobilnou aplikáciou. Bez nutnosti byť na internete).</li>
      <li>&#9874; Prerobenie celého AVES Symfónia zo Sf.1 na Sf.5</li>
    </ul>
    <p>Využívame najnovšie verzie vývojových nástrojov.</p>

    <p>Aktuálne <a class="navbar-brand " href="{{ path('osymfonii') }}">{{ constant('App\\Utilities\\Konstanty::VERZIA_PRIDAJ') }}</a>
</p>
  </div>

{% endblock %}
