{% extends 'base.html.twig' %}
{% block title %}Zoology index{% endblock %}
{% block body %}
    {{ include('zoology/_flash_form.html.twig') }}
  <div class="row header" style="text-align:center;color:green">
  <h2>{% trans %}prehlad.zapisanych.pozorovani{% endtrans %}</h2>
  </div>
    <table id={% if  app.request.locale == 'en' %} "dtBasicExample" {% else %} "dtBasicExamplesk" {% endif %} class="table table-striped table-bordered table-responsive"  style="width:100%" >
        <thead>
            <tr>
                <th>id</th>
                <th>{% trans %}nazov.lokality{% endtrans %}</th>
                <th>{% trans %}zoology.date{% endtrans %}</th>
                <th>{% trans %}Lkpzoospecies id{% endtrans %}</th>
                <th>{% trans %}pocet.kratko{% endtrans %}</th>
                <th>{% trans %}charakteristika.kratko{% endtrans %}</th>
                <th>{% trans %}zoology.acces.kratko{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for zaznam in zoology %}
            <tr>
                <td>{{ zaznam.id }}</td>
                <td>{{ zaznam.zoologyLocality }}</td>
                <td>{{ zaznam.zoologyDate|date('d.m.y') }}</td>
                <td>{{ zaznam.getLkpzoospeciesId.lkpzoospeciesSk }} ({{zaznam.getLkpzoospeciesId.lkpzoospeciesGenusSpecies }})</td>
                <td>{{ zaznam.count }}</td>
                <td>{{ zaznam.lkpzoocharId }}</td>
                <td>{{ zaznam.zoologyAccessibility }}</td>
                <td>
                  <a href="{{ path('zoology_show', {'id': zaznam.id})  }}" class="badge badge-info">{% trans %}show{% endtrans %}</a>
                  {% if zaznam.zoologyExport != 'E' %}
                  <a href="{{ path('zoology_edit', {'id': zaznam.id})}}"   class="badge badge-warning" >{% trans %}edit{% endtrans %}</a>
                  {% else %}
                    <div class="badge badge-light">{% trans %}uz.je.v.avese{% endtrans %}</div>
                  {% endif %}

                  <a href="{{ path('zoology_vzor', {'id': zaznam.id, 'pridavanieDruhu' : 'ano'})}}"   class="badge badge-success" >{% trans %}Pridaj.Druh{% endtrans %}</a>
                  <a href="{{ path('zoology_vzor', {'id': zaznam.id})}}"   class="badge badge-success" >{% trans %}Vzor{% endtrans %}</a>

                </td>
            </tr>
        {% else %}
            <tr scope="row">
              <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><a class="btn btn-primary" href="{{ path('newzoology') }}">{% trans %}zalozit.novy.zaznam{% endtrans %}</a></div> 
{% endblock %}
