{% extends 'base.html.twig' %}

{% block title %}{% trans %}id.zaznamu{% endtrans %} {{ zoozaznam.id }}{% endblock %}

{% block body %}
    <script type="text/javascript">
      window.onload = function(){

    var layerOTM = new ol.layer.Tile({
   //     source: new ol.source.OSM()
        source: new ol.source.XYZ({
        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png'
    }),
            opacity:0.4
      });

        var layerOSM = new ol.layer.Group({ 
          layers: [
          new ol.layer.Tile({
     source: new ol.source.OSM(),
            opacity:0.3
          }),
         ]
    });



    var chvu =  new ol.layer.Group({ 
          layers: [ 
            new ol.layer.Tile({
        source: new ol.source.TileWMS({
        url: 'http://maps.sopsr.sk/geoserver/wms?version=1.3.0',
        params: {
            'LAYERS': 'chvu',
        },
          })
        })
            ]
    });

    var orto =  new ol.layer.Group({ 
        layers: [
          new ol.layer.Tile({
        source: new ol.source.TileWMS({
        url: 'https://zbgisws.skgeodesy.sk/zbgis_ortofoto_wms/service.svc/get',
        params: {
            'LAYERS': '1',
        },
          })
        })
          ]
        });



        /////////// view /////////////
    var view = new ol.View({
        center: ol.proj.fromLonLat([19.6, 48.7]),
         projection: 'EPSG:3857',
        zoom: 8
      });

        var suradnice = document.getElementById('myposition');
        var zLongitud = document.getElementById('zoology_zoology_longitud');
        var zLatitud  = document.getElementById('zoology_zoology_latitud');
        view.setCenter(ol.proj.transform([parseFloat(zLongitud.innerHTML),parseFloat(zLatitud.innerHTML)],'EPSG:4326', 'EPSG:3857' ));
        view.setZoom(16);

       // definovanie štýlu pre bod, čo skúšam
      var styl = new ol.style.Style({
          image: new ol.style.Circle({
            radius: 20,
            fill: null, // new ol.style.Fill({color: '#666666'}),
            stroke: new ol.style.Stroke({color: '#FF0000', width: 3})
          })
      });
       var pozicia        = new ol.geom.Point(ol.proj.transform([parseFloat(zLongitud.innerHTML),parseFloat(zLatitud.innerHTML)], 'EPSG:4326', 'EPSG:3857'));
      var poziciaFeature = new ol.Feature(pozicia); 

      var vectorSource = new ol.source.Vector({
                projection: 'EPSG:4326',
                features: [poziciaFeature]
            });
      var bodpozicie = new ol.layer.Vector({
                source: vectorSource,
                style: styl
            });       

/////////////// poskladanie do MAP /////////////////
      var map = new ol.Map({
        target: 'map',
        layers: [orto,layerOTM,bodpozicie],
        view: view
      });

    }
    </script>

<div class="container">
    {{ include('_flash_form.html.twig') }}
  <div class="row header" style="text-align:center;color:green">
  <h2>{% trans %}id.zaznamu{% endtrans %} {{ zoozaznam.id }}</h2>
  </div>
    <div id="map" class="map" style="width: 100%; height: 280px;"></div>
    <table class="table table-striped table-responsive" style="width:100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zoozaznam.id }}</td>
            </tr>
            <tr>
              <th>{% trans %}nazov.lokality{% endtrans %}</th>
                <td>{{ zoozaznam.zoologyLocality }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.date{% endtrans %}</th>
                <td>{{ zoozaznam.zoologyDate|date('d.m.Y') }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.longitud{% endtrans %}</th>
                <td id="zoology_zoology_longitud">{{ zoozaznam.zoologyLongitud }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.latitud{% endtrans %}</th>
                <td id="zoology_zoology_latitud">{{ zoozaznam.zoologyLatitud }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.description{% endtrans %}</th>
                <td>{{ zoozaznam.zoologyDescription }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.export{% endtrans %}</th>
               {% set Evyznam = 'vysvetlenie.vyznamu'|trans %}
               {% if zoozaznam.zoologyExport == 'N' %}
                 {% set Evyznam = 'n.este.neexportovany.do.avesu'|trans %}
               {% elseif zoozaznam.zoologyExport == 'E'  %}
                 {% set Evyznam = 'e.uz.bol.poslany.do.avesu'|trans %}
               {% elseif zoozaznam.zoologyExport == 'Z'  %}
                 {% set Evyznam = 'z.este.editacia.nie.do.Avesu'|trans %}
               {% elseif zoozaznam.zoologyExport == 'I'  %}
                 {% set Evyznam = 'i.pripraveny.na.export.do.avesu'|trans %}
               {% else %}
                 {% set Evyznam = '' %}
               {% endif %}

                <td>{{ zoozaznam.zoologyExport }} - {{ Evyznam }}</td>
            </tr>

             <tr>
              <th>{% trans %}Lkpzoospecies id{% endtrans %}</th>
              <td>{{ zoozaznam.getLkpzoospeciesId.lkpzoospeciesLat }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoology.acces{% endtrans %}</th>
              <td>{{ zoozaznam.zoologyAccessibility }}</td>
            </tr>
             <tr>
              <th>{% trans %}pocet{% endtrans %}</th>
              <td>{{ zoozaznam.count }}</td>
            </tr>
             <tr>
              <th>{% trans %}charakteristika{% endtrans %}</th>
              <td>{{ zoozaznam.lkpzoocharId }}</td>
            </tr>
             <tr>
              <th>{% trans %}zoospecies.description{% endtrans %}</th>
              <td>{{ zoozaznam.description }}</td>
            </tr>
        </tbody>
    </table>
    <div>
 {% if zoozaznam.zoologyExport != 'E' %}
    <a class="btn btn-warning btn-sm" href="{{ path('zoology_edit', {'id': zoozaznam.id}) }}">{% trans %}edit{% endtrans %}</a>
 {% else %}
    <div class="badge badge-light">{% trans %}uz.je.v.avese{% endtrans %}</div>
 {% endif %}
    <a class="btn btn-primary btn-sm" href="{{ path('zoology_index') }}">{% trans %}back to list{% endtrans %}</a>
    <br /><br />
    <a class="btn btn-success" href="{{ path('zoology_vzor', {'id': zoozaznam.id, 'pridavanieDruhu' : 'ano' }) }}">{% trans %}Pridaj.Druh{% endtrans %}</a>
    <br /><br />
    <a class="btn btn-success btn-sm" href="{{ path('zoology_vzor', {'id': zoozaznam.id}) }}">{% trans %}Vzor{% endtrans %}</a>
    <a class="btn btn-success btn-sm" href="{{ path('newzoology') }}">{% trans %}zalozit.novy.zaznam{% endtrans %}</a>
    </div>
    <br />
    {{ include('zoology/_delete_form.html.twig') }}
</div>
{% endblock %}
